
/* A propos etc */
footer{
	background-color: #F2F2F2;
	display: flex;
	justify-content: space-around;
	padding-right: 25%;
}
.center{
	margin: auto;
}

@media all and (min-width: 426px) and (max-width: 768px){

	footer{
		height: 170px;
		justify-content: space-between;
		padding-right: 0;
		}

}

@media all and (max-device-width: 425px){
	footer{
		flex-direction: column;
		padding-top: 29px;
		padding-bottom: 29px;
		margin-top: -20px;
	}
	.center{
		margin: 0;
		margin-left: 20px;
		padding-right: 0;
	}
}
