
/* Taille de la page et style taille etc*/

body{
	width: 1440px;
	height: auto;
	margin: auto; 
	font-family: 'Raleway', 'sans-serif';
	font-size: 0.9em;
}

#page{
	margin-right:3.5%;
	margin-left:3.5%;
	padding-top:26px; 
}

a{
	color: black;
	text-decoration: none;
}

.fas{
}
h1, h2{
	font-size: 1.2em;
}
h3{
	font-size: 1em;
}
.fas{
	color: #0065FC;
}

/* Page 2 */

#page2{
	margin-top: 300px;
	text-align: center;
	margin-bottom: 300px;
}
.box{
	background-color: white;
	box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.25);
}
h6{
	color: white;
}

@media all and (min-width: 426px) and (max-width: 768px){

	body{
		width: 768px;
		font-size: 0.9em;
	}
	#page{
		margin-right: 40px;
		margin-left: 40px;
	}

}

@media screen and (max-width: 425px){

	body{
		width: 375px;
		font-size: 0.9em;
	}
	#page{
		margin-right: 20px;
		margin-left: 20px;
	}
}
