
/* ----Hebergements plus les plus populaires---- */


#mid{
	display: flex;
	justify-content: space-between;
}
#hebergements{
	width: 884px;
	height: 627px;
	background-color: #F2F2F2;
	border-radius: 1.5em;
}

#Vhebergement{ /*Images et etoiles */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.marge40{
	margin: 40px;
}
.grey{
	color: #F2F2F2;
}
.photoheberg{
	border-radius: 1em 1em 0 0;
	margin: 5px;
	margin-bottom: 0;
}
.boxheberg{
	background-color: white;
	border-radius: 1em;
	margin-bottom: 30px;
	margin-top: 20px;
	height: 200px;
}
.textboxheberg{
	margin-top: -8px;
	margin-left: 19px;
}
#mid p{
	margin-top: -10px;
	margin-bottom: 5px;
}
.boxheberg .fas{
	font-size: 0.8em;
}
.h3heberg{
	font-size: 1.05em;
}
/* --Les plus populaires-- */

aside{
	width: 420px;
	background-color: #F2F2F2;
	border-radius: 1.2em;
}
#toppopu{
	display: flex;
	justify-content: space-between;
	align-items:center;
	margin-top: -5%;
	margin-bottom: 5%;
}
.boxpopu{
	display: flex;
	border-radius: 1em;
	padding-right: 50px;
}
#popucollum{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 491px;
}
.fa-chart-line{
	color: black;
	font-size: 1.2em;
	margin-right: 5px;
}
.photopopulaire{
	margin: 5px;
	margin-right: 22px;
	border-radius: 1em 0 0 1em;
}
aside .fa-star{
	font-size: 0.8em;
}
.etoile2{
	margin-top: 45px;
}
.etoile1{
	margin-top: 30px;
}
@media all and (min-width: 426px) and (max-width: 768px){

	#mid{
		flex-direction: column;
	}
	#hebergements{
		width: auto;
		height: auto;
		margin-bottom: 20px;
	}
	.marge40{
		margin:70px;
	}
	.h2heberg{
		margin-top: -30px;
		margin-bottom: 25px;
	}
	.h3heberg{
		margin-bottom: -30px;
	}
	aside{
		width: auto;
	}
}


@media all and (max-width: 425px){

	#mid{
		flex-direction: column-reverse;
	}
	#hebergements{
		width: auto;
		height: auto;
		background-color: white;
		border-radius: 0;
	}
	.marge40{
		margin: 0px;
	}
	.photoheberg{
		width: 325px;
		height: 114px;
	}
	.boxheberg{
		margin: 0;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	aside{
		width: auto;
		margin-left: -20px;
		margin-right: -20px;
		border-radius: 0;
		padding: 20px;
	}
	.marge20{
	}
	#popucollum{
		height: auto;
	}
	.boxpopu{
		padding-right: 0px;
		width: 332px;
		margin-bottom: 13px;
	}
	.reduit{
		padding-right: 40px;
	}
	.fa-chart-line{
		margin-right: 8px;
	}
	#toppopu{
		margin-top: 10px;
	}
	.h2heberg{
		margin-top: 38px;
	}
	.etoile1{
		margin-top: 45px;
	}
}



