
/* Activites a Marseille */
.petit{
	display: none;
}
#margetop{
	margin-top: 53px;
}
.marge44{
	margin-left: 44px;
}
#activites{
	display: flex;
	justify-content: space-between;
	margin-bottom: 70px;
}
.duo{
	display: flex;
	flex-direction: column;
}
.trio{
	display: flex;
}
.photoactivites{
	border-radius: 1em 1em 0 0;
}
#activites h3{
	margin-left: 25px;
}
#activites .box{
	border-radius: 1em;
	padding-bottom: 2px;
}
.marge10{
	margin-bottom: 12px;
}

@media all and (min-width: 426px) and (max-width: 768px){

	#activites{
		display: flex;
		flex-wrap: wrap;
	}
	#activites .box{
		margin-bottom: 20px;
	}
}
@media all and (max-width: 425px){
	.photoactivites{
		width: 335px;
		height: 134px;
	}
	.duo ,.trio{
		display: contents;
	}
	#activites{
		display: flex;
		flex-direction: column;
	}
	.marge44{
		margin-left: 0;
	}
	.marge10{
		margin-bottom: 0;
	}
	#activites .box{
		margin-bottom: 20px;
	}
	.grand{
		display: none;
	}
	.petit{
		display:flex;
	}
}
