
/* A propos etc */
footer{
	background-color: #F2F2F2;
	display: flex;
	justify-content: space-around;
	padding-right: 25%;
}
.center{
	margin: auto;
}
@media all and (max-device-width: 425px){
	footer{
		flex-direction: column;
	}
	.center{
		margin: 0;
		margin-left: 20px;
		padding-right: 0;
	}
}